body {
  background-color: #F4CD8B;
  margin: 0;
  padding: 0;
}

#main {
  width: 400px;
  height: 90vh;
  background-color: rgb(243, 231, 231);
  margin: auto;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to right,#ff1212 0%, #7783ca 100%);
  border-image-slice: 1;
  margin-top: 20px;
  text-align: center;
}

#appname {
  color: rgb(71, 19, 19);
  font-family: 'Nanum Gothic', sans-serif;
}

.icon {
  font-size: 40px;
}

#header {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

#card {
  width: 300px;
  background-color: white;
  height: 80%;
  margin: auto;
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
